{% load mezzanine_tags keyword_tags %}

<html>
<head>
{% include "includes/head.html" %}
{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/rhlsheet.css">
{% endblock %}
</head>
<body>
<div class="container splash">
<a class="enter" href="/"></a>

<a class="youtube" href="http://www.youtube.com/user/zglorenz?feature=results_main"></a>
<a class="vimeo" href="https://vimeo.com/user9770989"></a>
<a class="linkedin" href="http://www.linkedin.com/company/2699352"></a>
<a class="facebook" href="https://www.facebook.com/rhs123"></a>
<a class="twitter" href="https://twitter.com/rhs48"></a>
<a class="googleplus" href="https://plus.google.com/b/104936365463350207835/104936365463350207835/about"></a>
</div>
</body>

