{% extends "base.html" %}
{% load pages_tags %}

{% block title %}
<h1>
{% if page.tutorial.section_set.all %}
{{ page.parent.title }}
{% else %}
{{ page.title }}
{% endif %}
</h1>
{% endblock %}


{% block left_panel %}
<div class="span3 left">
<div class="panel tree">
{% page_menu "pages/menus/tutorialmenu.html" %}
</div>
</div>
{% endblock %}
{% block center_panel_size %}9{% endblock %}
{% block main %}


<h1>
{% if page.parent.parent.parent.parent %}{{ page.parent.parent.tutorial.position}}.{{ page.parent.tutorial.position }}{% elif page.parent.parent.parent %}{{ page.parent.tutorial.position}}.{% endif %}{{ page.tutorial.position }} 
{{ page.tutorial.title }}
</h1>

<div class="row">
{% page_menu page "pages/menus/tutorialindexmenu.html" %}

</div>
<p>{{ page.tutorial.content }}</p>
{% for section in page.tutorial.section_set.all %}
<h2 id="section{{ section.position }}">
{% if page.parent.parent.parent.parent %}{{ page.parent.parent.tutorial.position}}.{{ page.parent.tutorial.position }}
{% elif page.parent.parent.parent %}{{ page.parent.tutorial.position}}.{% endif %}{{ page.tutorial.position }}{{ section.position }} {{ section.title }}</h2>

<p>{{ section.content }}</p>
{% endfor %}


{{ block.super }}
{% endblock %}

