
/* 
GOOGLE FONTS 
font-family: 'Quattrocento', serif;
font-family: 'Headland One', serif;
font-family: 'Alfa Slab One', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Stoke', serif;
font-family: 'Medula One', cursive;
font-family: 'Capriola', sans-serif;
font-family: 'Stint Ultra Expanded', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Viga', sans-serif;
font-family: 'Stint Ultra Expanded', cursive;


COLORS
934949
fcbb3b
0f1f2e
07233d
356c9e
517a9e
4b2b23
86dbef
e2e2e2
ed3719

*/
a {
color: #934949;

}
a:hover {
color: #86dbef;
text-decoration: none;

}
.nav-list > .active > a, .nav-list > .active > a:hover {
background-color: #517a9e;
border-radius: 2px;
}

ul.dropdown-menu a:hover {
background-color: #517a9e;
border-radius: 2px;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
background-color: transparent;


}

body {
color: #00385c;
//background-image: url('../img/bg_blue.gif');
}

.panel {
background-color: #e2e2e2;
}


h1 a, h1 a:hover {
color: #356c9e;
}


h2 a, h2 a:hover {
color: #ed3719;
}

h3 a, h3 a:hover {
color: #4b2b23;
}

h1 a:hover, h2 a:hover, h3 a:hover {
background-color: #fcbb3b;
border-radius: 4px;
}

h1 {
letter-spacing: 2px;
color: #356c9e;
font-size: 3.2em;
line-height: 1.3em;
font-family: 'Stoke', serif;
}


h2 {
letter-spacing: 2.5px;
color: #ed3719;
font-size: 2.3em;
font-family: 'Headland One', serif;




}

h3 {
letter-spacing: 2px;
font-family: 'Dosis', sans-serif;
color: #4b2b23;
font-size: 1.8em;

}

p {
font-family: 'Open Sans Condensed', sans-serif;
color: #0f1f2e;
font-size: 1.2em;
letter-spacing: 1.2px;
text-align: justify;
}
ul {
color: #3B1210;
letter-spacing: 2px;
}


.topbar {
margin-top: -18px;
margin-bottom: 20px;
background-color:#07233d;
height: 180px;
border-bottom: 3px solid #666 
}

.topbar div.container img {
z-index:3000;
}

.topbar div.container {
background-image: url('../img/intuitive_strategies_no_background.png');
height: 120px;
padding-top: 180px;
background-repeat: no-repeat;
width:940px;
}
.navbar-inner.topbar {
/*background-image: none;
background-color: transparent;
border: none;*/
}
div.transbox
  {
background-color:#ffffff;
opacity:0.6;
filter:alpha(opacity=60); /* For IE8 and earlier */

margin-top: -23px;
height: 110px;
}

div.body_head {
position: relative;
top: -70px;
}

.breadcrumb {
margin: 10px;
}

footer {
background-color: #e2e2e2;
margin-top: 50px;
border-top: 1px solid #EEE;
}

/*User Profiles */
/* sidebar */
.userprofile img{
margin: 5px 5px 2px 0;

}
div.userprofile {
padding: 10px;
background-color: #FBFBFB;
background-image: -moz-linear-gradient(top, white, whiteSmoke);
background-image: -ms-linear-gradient(top, white, whiteSmoke);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(whiteSmoke));
background-image: -webkit-linear-gradient(top, white, whiteSmoke);
background-image: -o-linear-gradient(top, white, whiteSmoke);
background-image: linear-gradient(top, white, whiteSmoke);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 0 white;
-moz-box-shadow: inset 0 1px 0 #ffffff;
box-shadow: inset 0 1px 0 white;
}

img.userprofile {
margin: 0 10px 2px 0;
}

.userprofile h3 {
}

.userprofile p, .userprofile ul {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-family: 'Quattrocento', serif;
color: #666;
letter-spacing: 1px;
font-size: 13px;
}
.userprofile ul {
font-size: 15px;
font-weight: bold;
line-spacing: 1.2em;
}

/* horizontal nav bar */























































