



img.userprofile{
margin: 5px 0 2px 0;

}


.userprofile h3 {
text-align: right;
}

.userprofile h4 {
font-family: 'Dosis';
color: #4B2B23;
text-align: right;
}

.userprofile p, .userprofile ul {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-family: 'Quattrocento', serif;
color: #666;
letter-spacing: 1px;
font-size: 13px;
}
.userprofile ul li{
font-size: 10px;
font-weight: bold;
line-spacing: 1.2em;
border-bottom: 1px dashed #ccc;
margin-right:45px;
}


.userprofile .tagline {
color: inherit;
float: right;
}
div.thumbdetails {
float: left;
display: block;
margin-left: 0px;
}
div.thumbdetails div.thumbtitle {
height: 30px;
padding-top: 15px;
}
div.thumbdetails a{
font-size: 15px;
color: #0F1F2E;
}

div.thumbdetails img{
margin: 5px 10px 2px 0;
height:30px;
width: 30px;
}

div.blog-list-detail {
padding-bottom: 30px;
}

div.blog_detail_author_comments {
padding-top: 50px;

}

div.blog_detail_topProfile {
border-bottom: solid #ccc 2px;
margin-bottom: 20px;
}


div.blog_detail_topProfile h3{
color: #444;
font-size: 1.1em;
}

div.blog_detail_topProfile h3 a{
color: #aaa;
font-size:1.4em;
}
div.blog_detail_topProfile h4 a{
font-size:1.2em;
color: #07233D;
}

.userprofile h3.profilepage{
margin-top: 30px;
text-align: left;
}

.userprofile dt a {
letter-spacing: 1px;
color: #356C9E;
font-size: 1.3em;

}

.userprofile dd {
line-spacing: 1.2em;
border-bottom: 1px dashed #ccc;
margin: 15px auto;
}

