
/* 
GOOGLE FONTS 
font-family: 'Quattrocento', serif;
font-family: 'Headland One', serif;
font-family: 'Alfa Slab One', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Stoke', serif;
font-family: 'Medula One', cursive;
font-family: 'Capriola', sans-serif;
font-family: 'Stint Ultra Expanded', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Viga', sans-serif;
font-family: 'Stint Ultra Expanded', cursive;


COLORS
934949
fcbb3b
0f1f2e
07233d
356c9e
517a9e
4b2b23
86dbef
e2e2e2
ed3719

*/

.hidden-largedesktop {
  display: none !important;
}
.visible-largedesktop {
  display: inherit !important;
}
.hidden-desktop {
  display: inherit !important;
}

.visible-desktop {
  display: none !important;
}
/*
.hidden-tablet {
  display: inherit !important;
}

.visible-tablet {
display: none !important;
}
.hidden-phone {
  display: inherit !important;
}

.visible-phone {
display: none !important;
}
*/


@media (min-width: 768px) and (max-width: 979px) {
  .hidden-largedesktop {
    display: inherit !important;
  }
  .visible-largedesktop {
    display: none !important ;
  }
}


@media (max-width: 767px) {
  .hidden-largedesktop {
    display: inherit !important;
  }
  .visible-largedesktop {
    display: none !important;
  }
}

@media (min-width: 980px) and (max-width: 1159px) {
  .hidden-largedesktop {
    display: inherit !important;
  }
  .visible-largedesktop {
    display: none !important ;
  }
  .hidden-desktop {
    display: none !important;
  }
  .visible-desktop {
    display: inherit !important;
  }
}




@media (min-width: 1200px) {
  .hidden-largedesktop {
    display: none !important;
  }
  .visible-largedesktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
}




a {
color: #934949;

}
a:hover {
color: #86dbef;
text-decoration: none;

}
.nav-list > .active > a, .nav-list > .active > a:hover {
background-color: #517a9e;
border-radius: 2px;
}

ul.dropdown-menu a:hover {
background-color: #517a9e;
border-radius: 2px;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
background-color: transparent;


}

body {
color: #00385c;
}


.panel {
background-color: #e2e2e2;
}


h1 a, h1 a:hover {
color: #356c9e;
padding: 0 5px;
}


h2 a, h2 a:hover {
color: #356c9e;
padding: 0 5px;
}

h3 a, h3 a:hover {
color: #4b2b23;
padding: 0 5px;
}

h1 a:hover, h2 a:hover, h3 a:hover {
background-color: #fcbb3b;
border-radius: 4px;
}

h1 {
letter-spacing: 2px;
color: #356c9e;
font-size: 2.8em;
line-height: 1.3em;
font-family: 'Stoke', serif;
}


h2 {
letter-spacing: 4px;
color: #ed3719;

color: #356c9e;
font-size: 2.2em;
font-family: 'Headland One', serif;


}

h3 {
letter-spacing: 2px;
font-family: 'Dosis', sans-serif;
color: #4b2b23;
font-size: 1.8em;

}

p {
font-family: 'Open Sans Condensed', sans-serif;
color: #0f1f2e;
font-size: 1.2em;
letter-spacing: 1.2px;
text-align: justify;
}
ul {
color: #3B1210;
letter-spacing: 2px;
}


/*NAVBAR*/

.navbar {
background-image: url('../img/IntuitiveLogo_Silver_bg.png');
padding-top: 1px;
}

.navbar .brand {
margin: 0 0 0 25px;
padding: 0 10px;
height: 80px;
box-shadow: none;
display: inline;
}

.navbar div.brand {
width: 0px;
}

.navbar-inner {
margin-top: 60px;
background-color: #2C2C2C;
background-image: -moz-linear-gradient(top, #234, #07233d);
background-image: -ms-linear-gradient(top, #234, #07233d);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#234), to(#07233d));
background-image: -webkit-linear-gradient(top, #234, #07233d);
background-image: -o-linear-gradient(top, #234, #07233d);
background-image: linear-gradient(top, #234, #07233d);
}

.navbar .divider-vertical {
border-right: #07233D solid 1px;
background-color: #333;
}

.navbar-search .search-query {
background-color: #333;
border-color: #3e3e3e;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}


.navbar .profile-image {
padding: 5px;
margin-left:5px;
margin-top:1px;
}

.navbar .profile-image img {
height: 25px;
width: 25px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}

.breadcrumb {
margin: 0;
font-size: 11px;
padding: 0px 14px;
position: relative;
top: -18px;
}

footer {
margin-top: 50px;
border-top: 1px solid #EEE;
padding-top: 30px;
}


footer li li {
width: auto;
font-size: 11px;
line-height: 12px;
}




















































