{% load pages_tags %}
<ul class="nav nav-list navlist-menu-level-{{ branch_level }}">
{% for page in page_branch %}
{% if page.in_menu %}
{% if page.is_current_or_ascendant or page.is_current_sibling or page.is_current_child %}
<li class="{% if page.is_current %}active{% endif %}"><a href="{{ page.get_absolute_url }}">
	{% if page.branch_level = 2 %}{{ page.tutorial.position }}&nbsp;
	{% elif page.branch_level = 3 %}{{ page.parent.tutorial.position}}.{{ page.tutorial.position }}&nbsp;
	{% elif page.branch_level = 4 %}{{ page.parent.parent.tutorial.position}}.{{ page.parent.tutorial.position }}{{ page.tutorial.position }}&nbsp;{% endif %}
	{{ page.title }}
	</a>
	{% if page.is_current and page.tutorial.section_set.all %}
	<ul class="nav nav-list navlist-menu-level-{{ branch_level }}">
	{% for section in page.tutorial.section_set.all %}	
	<li><a href="#section{{ section.position }}">{{ section.title }}</a></li>
	{% endfor %}
	</ul>
	{% endif %}
    {% page_menu page %}
</li>

{% endif %}
{% endif %}
{% endfor %}
</ul>


