{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}
{% load responsive_tags %}

<div class="userprofile">
	<div class="row">
		<div class="span4">
		<h3>{{ author.get_full_name }}</h3>
		<h4>{% for group in author.groups.all %}{{ group }}{% if not forloop.last %}, {% endif %}{% endfor %}</h4>
		<h5 class="tagline"><em>"{{ author.userprofile.tagline }}"</em></h5>
		</div>
	</div>
	<div class="row">
		<div class="span2">
			<div class="smm_icons pull-right">

<a class="facebook" href="http://www.facebook.com/{{ author.facebook }}"></a>
<a class="twitter" href="http://www.twitter.com/{{ author.twitter }}"></a>
<a class="googleplus" href="http://www.google.plus.com/{{ author.google_plus }}"></a>
<a class="linkedin" href="http://www.linkedin.com/{{ author.linkedin }}"></a>
<a class="youtube" href="http://www.youtube.com/{{ author.youtube }}"></a>

			</div>
			<div class="userrecentposts">
			<p>{{ author.first_name }}'s recent posts:</p>
			<ul class="unstyled">
			{% for blog_post in author.blogposts.all %}
				{% if forloop.counter < 7 %}
				<li><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
			</div>
		</div>
		<div class="span2">
		{{ author|responsive:"userprofile span2" }}
		</div>
	</div>
<p>{{ author.userprofile.about_me }}</p>
<ul class="unstyled">
<li>Email: {{ author.email }}
<li>Member Since: {{ author.date_joined }}</li>
</ul>

</div>
