{% load i18n mezzanine_tags blog_tags comment_tags rating_tags keyword_tags disqus_tags %}
{% load responsive_tags %}



{% with blog_post.user as author %}
<div class = "thumbdetails span4">
	{% if author.userprofile.profile_image %}
    <a href="{% url blog_post_list_author author %}"><img class="pull-left" src="{{ author.userprofile.thumbnail.url }}" /></a>
	{% endif %}
    <div class="thumbtitle">
    <a href="{% url blog_post_list_author author %}">{{ author.get_full_name|default:author.username }}</a> - {% for group in author.groups.all %}{{ group }}{% if not forloop.last %}, {% endif %}{% endfor %}
    </div>
</div>
{% endwith %}

<!--
    <br/>
    {% if blog_post.category_list %}
    {% trans "in" %}
    {% for category in blog_post.category_list %}
    <a class="thumb_details" href="{% url blog_post_list_category category.slug %}">{{ category }} /</a>
    {% endfor %}
    <br/>
    {% endif %}
-->

