
<div class="modal hide fade" id="ContactModal">

  <div class="modal-header">

    <button type="button" class="close" data-dismiss="modal">×</button>

    <h3>Contact Us</h3>

  </div>

  <div  class="modal-body">

    <form>

      <label>Your name</label>

        <input type="text" class="span3" placeholder="Enter your name...">

      <label>Your email</label>

        <input type="text" class="span3" placeholder="Enter your email address...">

      <span class="help-block">Would you like to receive more information about our work?</span>

      <label class="checkbox">

        <input type="checkbox"> Receive more information</label>

      <button type="submit" class="btn btn-primary">Submit</button>

    </form>

  </div>

  <div class="modal-footer">

    <a href="irawcc/contact.html" class="btn">More contact information</a>

    <a href="#" class="btn" data-dismiss="modal">Reconsider</a>

  </div>

</div>


<footer>

<div class="container">

  <div class="row">

        <div class="span2"></div>

    <div class="span5">

      <p>&copy; Will Farley 2012 &nbsp; <a data-toggle="modal" href="#ContactModal">Contact Us</a></p>

    </div>

    <div class="span3">

      <p class="pull-right"><a href="#">Back to top</a></p>

    </div>

    <div class="span2"></div>

  </div>

</div>

</footer>


