{% load pages_tags mezzanine_tags i18n %}

{% for content in page_contents %}

{% if forloop.first %}

<div class='span9'>

	<div class='row'>

	{% include 'includes/carosel.html' %}

	</div>

{% endif %}

{% if forloop.counter == 2 %}

	<div class="row">

		<div class="span6">
		
		<h2><a href='/news/'>{{ content.title }}</a></h2>

			<div class='row well' style='padding:5px;'>

			{% include 'includes/farticle.html' %}

			</div>
	
{% endif %}

{% if forloop.counter == 3 %}

			<div class="row">
	
				<div class="span3">
				
				<h3>{{ content.title }}</h3>
				{% include 'includes/blogfeed.html' %}	
				</div>

{% endif %}

{% if forloop.counter == 4 %}

				<div class="span3">

				<h3>BLOCK HOME_4</h3>
			
				</div>

			</div>

		</div>

{% endif %}

{% if forloop.counter == 5 %}
		
		<div class="span3">

		<h3>BLOCK HOME_5</h3>
	
		</div>

	</div>

</div>

{% endif %}

{% endfor %}
<div class='span3'>

<h2>{{ content.title }}</h2>

	<div class='row'>

		<div class='span3 right'>
{#
		{% nevercache %}
		{% include "includes/user_panel.html" %}
		{% endnevercache %}

			<div class="panel">
			{% block right_panel %}
			{% ifinstalled mezzanine.twitter %}
			{% include "twitter/tweets.html" %}
			{% endifinstalled %}
			{% endblock %}
#}			</div>

		</div>

	</div>
	
	<div class='row'>

		<div class='span3'>

		{% include 'includes/contactus.html' %}

		</div>

	</div>

	<div class='row'>

		{% include 'includes/fimage.html' %}

	</div>


	<div class='row'>

		<div class='span3'>

		<img src='{{ STATIC_URL }}img/square_selection400x200.png' alt='social media' style='width:100%;'/>

		</div>

	</div>

</div>




