<div class="pull-right blog_smm_icons">
        <div class="gicon">
                <div class="g-plusone" data-size="medium" data-annotation="none" data-href="http://figtorials.com{{ blog_post.get_absolute_url }}">
                </div>
        </div>
        <div class = "fbicon">
                <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.figtorials.com{{ blog_post.get_absolute_url }}&amp;send=false&amp;layout=button_count&amp;width=65&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=551924234837251" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:52px; height:21px;" allowTransparency="true">
                </iframe>
        </div>
        <div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://figtorials.com{{ blog_post.get_absolute_url }}" data-text="{{ blog_post.title }}" data-via="{{ blog_post.user.userprofile.twitter }} @figtorials" data-count="none">Tweet</a>
        </div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=551924234837251";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>


