{% load pages_tags mezzanine_tags i18n %}


<div class="navbar">
<div class="navbar-inner">
<div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    <a class="brand" href="/"></a>
<!--    
{% if settings.SITE_TAGLINE %}<p class="tagline">{{ settings.SITE_TAGLINE }}</p>{% endif %}-->
    <div class="nav-collapse">
        <form action="{% url search %}" class="navbar-search pull-right">
        <input class="search-query" placeholder="{% trans "Search" %}" type="text" name="q" value="{{ request.REQUEST.q }}">
        </form>
        {% page_menu "pages/menus/dropdown.html" %}
    </div>
</div>
</div>
</div>
<div class="topbar">
<div class="container">
<img href="{{ STATIC_URL }}img/intuitive_strategies_no_background.png" />
</div>
</div>


<div class="transbox">
</div>

<div class="container">

{% nevercache %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" data-alert="alert">
<a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
</div>
{% endfor %}
{% endnevercache %}

<div class="row body_head">
<div class="span5">
<h1>{% block title %}{% endblock %}</h1>
</div>
<div class="span7">
<ul class="breadcrumb">
{% spaceless %}
{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
{% endspaceless %}
</ul>
</div>
</div>


